/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton ($bkgColor, $display){
    background-color: $bkgColor;
    color: $blanco;
    padding: 1rem 3rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    display: $display;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: darken($bkgColor, 5);
    }
}