.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;

    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
    }

}

.navegacion{
    visibility: none;
    opacity: 0;


    @include tablet{
        display: flex;
        align-items: center;
        visibility: visible;
        opacity: 1;
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 1.6rem;

            &:last-of-type{
                margin-right: 0rem;
            }
        }

        &:hover{
            color: $verde;
        }
    }
}

.mostrar{
    visibility: visible;
    opacity: 1;   
    transition: visibility ease-in-out .3s, opacity linear .5s;
}


.logo-header{
    border: .1rem solid $blanco;
}

.mobile-menu{
    cursor: pointer;

    @include tablet{
        display: none;
    }

    img{
        width: 5rem;
    }
}