.anuncios{
    margin-bottom: 3rem ;

    &:last-of-type{
        margin-bottom: 0;
    }

}

@include tablet{
 .anuncios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
 }       
}